.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.footer_container {
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: center;
    gap: 30px; 
    padding: 50px 30px 0px;
}

.footerSection {
    display: flex;
    flex-direction: column;
}

.footerSection_icons{
    display: flex;
    flex-direction: row;
}

.footerSection h4 {
    margin-bottom: 2rem;
}

.footerSection a {
    color: #308AE4;
    text-decoration: none;
    font-size: 80%;
}

.footerSection p {
    font-size: 80%;
    color: grey;
}
.link_socials {
    width: fit-content;
}
.link_socials > svg, i{
    font-size: 35px;
}

.li > svg{
    color: #308AE4;
}

.insta svg{
    color: purple;
}

.x i{
    color: black;
}

.cpad_wrapper{
    width: 100%;
    max-width: 700px;
    border-top: 2px solid #DCDEE2;
    font-size: 14px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 5px;
}

.cpad_wrapper a{
    text-decoration: none;
    color: #308AE4;
}

@media screen and (max-width: 768px){
    .footer_container{
        flex-direction: column;
    }
}