* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard-container {
  display: flex;
  max-width: 1300px;
  margin: 20px auto;
  align-items: flex-start;
  justify-content: space-around;
}

.profile-card {
  background-color: #e9f4ff; /* Adjust the color as needed */
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px; /* Space between profile and nav items */
  text-align: center;
  width: 300px; /* Adjust based on your layout needs */
}

.profile-card h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-bottom: 35px;
}

.profile-card p {
  font-size: 25x;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
  margin-bottom: 20px;
}
.profile-picture {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
  border: 4px solid #ffffff; /* Adjust the color and size as needed */
  object-fit: cover;
}

.profile-card p svg {
  font-size: 25px;
  margin-right: 5px;
  float: left;
}

.CallIcon {
  color: #5ce45a;
}

.EmailIcon {
  color: #007bff;
}

.sidebar {
  margin: 60px 35px 5px 0;
}

.sidebar-nav {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sidebar-nav .nav-item {
  display: flex;
  align-items: center; /* Align items vertically center */
  justify-content: flex-start; /* Align content to the start */
  text-decoration: none;
  color: #333;
  background-color: #e9f4ff; /* Adjust the color as needed */
  padding: 15px 20px; /* Vertical and horizontal padding */
  border-radius: 10px; /* Rounded corners */
  margin-bottom: 10px; /* Space between items */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; /* Full width of the parent */
  box-sizing: border-box; /* Include padding and border in the element's width */
}

.sidebar-nav .nav-item:hover {
  background-color: #d0e2ff;
}

.sidebar-nav .nav-item svg {
  display: inline-block;
  margin-right: 25px;
  font-size: 50px; /* Adjust the size as necessary */
  color: #333;
  float: left; /* Move the SVG to the left side */
}

.current-task-title {
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  color: #333;
  background-color: #e9f4ff; /* Adjust the color as needed */
  padding: 15px 20px; /* Vertical and horizontal padding */
  border-radius: 10px; /* Rounded corners */
  margin-bottom: 20px; /* Space between items */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 30%;
}

.main-content {
  display: flex;
  max-width: 100%;
  max-height: fit-content;
  flex-direction: column;
  flex-wrap: wrap;
}

.task-card,
.new-task-card {
  padding: 25px; /* Reduce the padding */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1; /* Allow flex items to grow and shrink */
  max-width: calc(
    50% - 20px
  ); /* Set a max-width with consideration for the gap */
  min-width: 300px; /* Set a min-width to ensure cards do not get too small */
  margin-bottom: 80px;
}

.task-title {
  font-size: 19px; /* Match font size to design */
  color: #333;
  font-weight: bold; /* Make it bold */
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 1px groove #d9d9d9;
  padding-bottom: 30px; /* Add space between text and bottom border */
  white-space: nowrap;
}

.task-detail h4 {
  font-size: 25px; /* Increase font size */
  color: #333;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 20px;
}

.task-detail p {
  padding-bottom: 20px;
}

.task-detail span {
  font-weight: 550;
  font-size: 17px;
}

.task-detail h5 {
  font-size: 18px; /* Increase font size */
  color: #333;
  margin-bottom: 10px;
  margin-top: 10px;
}

.type-klus {
  display: flex;
  flex-direction: column; /* Change the flex direction to column */
  align-items: center; /* Center the items horizontally */
  justify-content: center; /* Center the items vertically */
  border: 1px solid #d0e2ff; /* Light grey border */
  border-radius: 10px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 150px; /* Make the width fit its content */
  height: auto; /* Make the height fit its content */
}

.type-klus span {
  font-size: 14px; /* Font size for the text */
  color: #333;
  text-align: center;
}

.klus-icon {
  margin-bottom: 10px; /* Space between icon and text */
  width: 50px; /* Icon size */
  height: 50px; /* Icon size, make it square */
}

.task-button {
  margin: 0;
  background: none;
  color: #17a1fa;
  padding-top: 30px;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border: none;
}

.new-task-card {
  display: flex;
  align-items: center;
  margin-top: 75px;
  padding: 288px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex-direction: column;
  margin-left: 35px;
  max-width: calc(50% - 20px);
  min-width: 300px;
}

.new-task-card:hover {
  background-color: #f0f0f0;
}

.plus-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plus-con svg {
  font-size: 60px;
  margin: 0;
  color: white;
  background-color: #007bff;
  border-radius: 50px;
}

.plus-con p {
  margin-top: 10px;
  font-size: 20px;
  color: #333;
  white-space: nowrap;
}

/* Media queries */

@media only screen and (max-width: 1458px) {
  .dashboard-container {
    flex-direction: column;
    align-items: center;
  }

  .profile-card,
  .sidebar {
    width: 90%; /* Adjust width for smaller screens */
    margin-bottom: 20px; /* Space between elements */
  }

  .main-content {
    flex-direction: column; /* Stack the cards on smaller screens */
    align-items: center; /* Center the cards */

  }

  .task-card {
    padding-top: 25px;
    margin-top: 20px;
    width: 100%; /* Adjust width for smaller screens */
  }

  .new-task-card {
    padding: 20px; /* Adjust padding for smaller screens */
    width: 100%; /* Adjust width for smaller screens */
  }
}

@media only screen and (max-width: 480px) {
  .dashboard-container {
    flex-direction: column;
    align-items: center;
  }

  .profile-card,
  .sidebar {
    width: 90%; /* Adjust width for smaller screens */
    margin-bottom: 20px; /* Space between elements */
  }

  .main-content {
    flex-direction: column; /* Stack the cards on smaller screens */
    align-items: center; /* Center the cards */
  }

  .task-card {
    padding-top: 25px;
    margin-top: 20px;
  }

  .task-title {
    font-size: 16px; /* Adjust font size for smaller screens */
    padding-bottom: 20px; /* Adjust padding for smaller screens */
  }

  .new-task-card {
    padding: 20px; /* Adjust padding for smaller screens */
    width: 100%; /* Adjust width for smaller screens */
  }
}
