.header-con {
  background-color: #e9f4ff;
  width: 100%;
  padding: 25px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.header-con p {
  margin-left: 15px;
  font-weight: 600;
}

.password-security {
  width: 980px;
  height: 450px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
#wachtwoord-con {
  margin-left: 15px;
  font-size: 15px;
}

.field-input {
  display: grid;
  grid-template-columns: 1fr 250px;
  margin-bottom: 20px;
  padding-right: 100px;
  padding: 15px;
}

.text-field label {
  display: block;
  margin-bottom: 5px;
}

.field-input input {
  width: 250px;
  padding: 10px;
  background-color: #f8f8f8;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.field-input button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.text-field {
  padding: 20px;
  width: 400px;
  border: 0px;
  border-radius: 8px;
}

.text-field p {
  font-size: 16px; /* Adjust size as necessary */
  line-height: 1.5; /* Adjust line height for better readability */
  color: #a6acb2; /* Adjust text color as necessary */
  margin-bottom: 20px; /* Space before the toggle */
}

.toggle-switch {
  display: flex;
  margin-right: 30px;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 15px;
  margin-left: 15px;
}

.toggle-switch label {
  font-size: 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #616161;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
