.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.footer_container {
    width: 100%;
    max-width: 100rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem; 
    padding: 5rem 3rem 0px;
}

.footerSection {
    display: flex;
    flex-direction: column;
}

.footerSection_icons{
    display: flex;
    flex-direction: row;
}

.footerSection h4 {
    margin-bottom: 2rem;
}

.footerSection a {
    color: #308AE4;
    text-decoration: none;
    font-size: 80%;
}

.footerSection p {
    font-size: 80%;
    color: grey;
}

#footer-office-link {
    text-decoration: none;
    font-size: 90%;
}

#footer-office-link :hover{
    color: #308AE4;
}

.link_socials {
    width: fit-content;
}
.link_socials > svg, i{
    font-size: 35px;
}

.li > svg{
    color: #308AE4;
}

.insta svg{
    color: purple;
}

.x i{
    color: black;
}

.cpad_wrapper{
    width: 100%;
    max-width: 70rem;
    border-top: 0.2rem solid #DCDEE2;
    font-size: 14px;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

.cpad_wrapper a{
    text-decoration: none;
    color: #308AE4;
}

@media screen and (max-width: 768px){
    .footer_container{
        flex-direction: column;
    }
}