.resultpage{
    display: flex;
    justify-content: center;
    padding: 150px 30px;
}

.result-con{
    display: flex;
    width: 100%;
    max-width: 1500px;
    flex-direction: column;
    gap: 100px;
}



