.resultpage{
    display: flex;
    justify-content: space-around;
    padding: 150px 30px;
}

.sidenav-con {
    margin-right: 25px;
}

.result-con{
    display: flex;
    width: 100%;
    max-width: 1500px;
    flex-direction: column;
    gap: 100px;
}



