/* Conventions for this stylesheet:
   - We use camelCase, meaning if you use multiple words together, the second word will be capitalized.
   - One exception: whenever you use an adjective like a color or say something is a container, use a _ and then type the adjective without capitalisation. For example titleCard_container_blue*/
:root{
    --max-laptop: 1600px;
    --tablet-xtra: 1200px;
    --tablet: 1024px;
    --mobile-xtra: 900px;
    --mobile: 768px;
}



/* content */

.title_container{
    width: 100%;
    max-width: 1500px;
}

/* reused css */

/* headers */
#title_container_blue {
    background-color: #E9F4FF;
}


/* buttons */
.button_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    height: 5rem;
    width: 18rem;
    background-color: #308AE4;
    border-radius: 1.5rem;
    border: none;
    color: white;
    margin: auto;
}

.button:hover{
    cursor: pointer;
}