.DateResultsCal{
    width: 	100%;
    border: solid 0.2rem black;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContainerResultDateCal{
    width: 27rem;
    height: 27rem;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}