  
#klussenpage {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* This ensures that the content area takes at least the full height of the viewport */
}

.main-content-klussen {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  padding-top: 30px;
  justify-items: end;
  align-items: start;
  justify-content: center;
  margin-bottom: 20px;
}

.footer {
  flex-shrink: 0; /* Prevent the footer from shrinking */
}
