.faq-header-con {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.faq-header {
  display: flex;
  flex-direction: row-reverse;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-left: 550px;
  align-items: center;
  max-width: 500px;
}

.faq-header img {
  display: flex;
}
.faq-con {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 500px;
}

/* Add responsive behavior */
@media screen and (max-width: 1275px) {
  .faq-header-con {
    display: flex;
    align-items: flex-end;
    margin-left: 150px;
    width: auto;
  }

  .faq-header img {
    margin-right: 150px;
    width: 500px;
  }
  .faq-header {
    display: flex;
    justify-content: center;
  }

  .faq-con,
  .faq-container {
    max-width: 650px;
    width: 100%; /* Full width on smaller screens */
    margin-right: 150px;
  }

  .questions-con {
    grid-template-columns: 1fr 1fr;
  }

  .faq-title,
  .category-title,
  .question {
    font-size: smaller; /* Adjust font size for smaller screens */
  }

  .faq-grid {
    grid-template-columns: 1fr; /* Single column grid layout for FAQ */
  }
}

/* Additional responsive settings for extra small devices */
@media screen and (max-width: 490px) {
  .faq-header-con {
    display: flex;
    align-items: flex-end;
    margin-left: 300px;
  }
  .faq-header-con section {
    margin: 0px 15px 10px;
    padding: 0px;
    justify-content: center;
    text-align: center;
    align-items: center; /* Add this line to align to the middle */
  }

  .faq-header {
    margin-left: 15px;
  }

  .sect-header h2 {
    margin-left: 0px;
  }
}
