 .templateMain{ /*<- Het grote vlak wat de hele pagina covered. */
  width: 100%; 
  height: 100%;
  background: orange; /* <- visueel beeld bij welk vlak het is kleur mag weg gehaald worden */
  padding-right: 12rem; /* <- elementen hebben BINNEN in het oranje vlak 120px afstand van rechts. Dit wordt uiteindelijk weg gehaald door een Mediaqueery */
  padding-top: 5rem;
  display: flex;
}

.sidenavTemplateSection{  /*<- Het groene vlak aan de linker kant die tot 1044px de sidenav op zijn plek houd */
  width: 20%; /*<- Als je de width hier aanpast zorg er dan voor dat je de width van de rightsideTemplateSection ook aanpast waardoor het samen 100% is  */
  background: green; /* <- visueel beeld bij welk vlak het is kleur mag weg gehaald worden */
  height: 100vh;
  display: flex;
  justify-content: flex-end; /* dit zorgt ervoor dat de sidenav rechts van het groene vlak komt te staan */
  padding-right: 2rem; /* <- elementen hebben BINNEN in het groee vlak 20px afstand van rechts. Dit wordt uiteindelijk weg gehaald door een Mediaqueery */
}

.sideNavTemplate{ /*<- De sidenav. */
  height: 45%;
  width: 17.5rem; /* <- aanpassen naar % wanneer er content inzit */
  background: black;
  border-radius: 5px; /* bij borderradius mag pixels wel gebruikt worden!*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightsideTemplateSection{ /*<- Het roze vlak is het vlak waarin je zelf de content moet gaan maken deze kan je dus aanpassen naar wat uitkomt voor jou pagina. */
  width: 80%; /*<- Als je de width hier aanpast zorg er dan voor dat je de width van de sidenavTemplateSection ook aanpast waardoor het samen 100% is  */
  background: pink; /* <- visueel beeld bij welk vlak het is kleur mag weg gehaald worden */
  height: 100vh; /*<- vh veranderen in 100% wanneer het vlak/de pagina te klein wordt voor je elementen */
}

@media (max-width: 1044px) {
  .sidenavTemplateSection { 
    display: none; /*<- Dit zorgt ervoor dat de sidenav verdwijnt zodra het beeldscherm onder de 1044px komt*/
  }

  .templateMain{ /*<- Dit zorgt ervoor dat het roze vlak in het midden komt nadat de sivenav weg is gegaan*/
    align-items: center;
    justify-content: center;
    padding-right: 0rem;
  }
}

