.prof_dashboard_wrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prof_dashboard_con{
    width: 100%;
    max-width: 1200px;
    gap: 25px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}