.mytask_con{
    display: flex;
    flex-direction: column;
    gap: 25px;
    min-height: 70vh;
}

.current_task_con{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.finished_task_con{
    display: flex;
    flex-direction: column;
    gap: 25px;
}