.chores_con{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 30px 100px 30px;
    gap: 50px;
    background-color: #dddddd25;
}

.choresCard_con{
    width: 100%;
    max-width: 1500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 25px;
}

.choresCard_con a{
    text-decoration: none;
    color: black;
}

.choreCard{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.choreImg_con{
    width: 100%;
    height: 200px;
}

.choreImg_con img{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chore_description{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px;
}

.chore_description p{
    color: black;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
}

@media screen and (max-width: 768px){
    .chores_con{
        padding: 50px 25px;
    }

    .choresCard_con{
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
        justify-content: unset;
    }

    .choreCard{
        width: 100%;
    }
}