.updates-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}

.embed-container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 5rem;
  gap: 2rem;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
}
