.background {
    max-height: 100%;
    height: 98vh;
    background: linear-gradient(0deg, #fff, #eae6ff 100%);
    display: flex;
    justify-content: center;
  }
  
  .container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 520px;
  }
  
  .title {
    font-size: 3rem;
    line-height: 1.25;
    margin-bottom: 1rem;
    font-family: roboto;
    font-weight: 500;
  }
  
  .chatbox {
    min-width: 100%;
    height: 480px;
    display: flex;
    overflow-y: auto;
    flex-direction: column-reverse;
    text-align: center;
  }
  
  .formContainer {
    width: 98%;
    min-height: 48px;
  }
  
  .formBase {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: "16px";
    height: 100%;
    width: 100%;
    padding: 8px;
  }
  
  .textBox {
    min-height: 48px;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
  }

  .sentMessageContainer {
    display: flex;
    flex-direction: column;
    float: right;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 8px;
  }
  
  .sentMessage {
    text-align: left;
    padding: 8px;
    font-family: "roboto";
    color: #fff;
    background: linear-gradient(243deg, #2397f5, #498efc 100%);
    border-radius: 8px;
  }
  
  .receivedMessageContainer {
    display: flex;
    flex-direction: column;
    float: right;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 8px;
  }
  
  .receivedMessage {
    text-align: left;
    padding: 8px;
    font-family: "roboto";
    color: #000;
    background: linear-gradient(
      193deg,
      rgba(237, 247, 255, 1) 0%,
      rgba(223, 223, 223, 1) 100%
    );
    border-radius: 8px;
  }
  
  .senderText {
    font-family: "roboto";
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 4px;
  }