.chat{
  display: flex;
}

.chat-main {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 200px;
  height: 600px;
  margin-top: 150px;
}
  
.messages {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #f9f9f9;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.message {
  padding: 10px 20px;
  background-color: #e7f3ff;
  border-radius: 15px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  max-width: 60%;
  word-wrap: break-word;
  margin-bottom: 4px;
  font-size: 16px;
  animation: slideIn 0.3s ease-out;
}
  
/* Berichten van anderen */
.message.other {
  align-self: flex-start;
  background-color: #ffe7e7;
  font-size: 20px;
}
  
/* Eigen berichten */
.message.self {
  align-self: flex-end;
  background-color: #e7f3ff;
  font-size: 20px;
}
  
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
  
.messages p {
  animation: slideIn 0.3s ease-out;
}
  
p {
  margin: 0;
  padding: 10px;
  background-color: #e7f3ff;
  border-radius: 15px;
  max-width: 75%;
  word-break: break-word;
  font-size: 25px;
}
  
.list-people {
  max-width: 600px;
  height: 600px;
  overflow-y: auto;
  margin: 0 auto;
  padding: 20px;
  background-color: #6167c86f;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  margin-top: 150px;
}
  
.people-block {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: inherit;
}
  
.people-block:hover {
  background-color: #e9e9e9;
}
  
.people-block h2 {
  margin-top: 0;
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 5px;
}
  
.people-block p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
}
  
.list-people a.people-block {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.3s;
}
  
.list-people a.people-block:hover {
  background-color: #e9e9e9;
}

.input{
  display: flex;
}

.sendbutton{
  width: 80px;
  height: 60px;
  border-radius: 5px;
  border: 0;
  font-size: 30px;
  color: #6166c8;
  background-color: white;
  margin: 5px;
  cursor: pointer;
}

.message-timestamp {
  font-size: 14px;
  padding-left: 10px;
  opacity: 0.6;
}

.chat-header h2{
  text-align: center;
  margin-top: 20px;
}

.chat-header{
  background-color: #6167c86f;
  height: 80px;
}

.message-input{
  font-size: 20px;
  height: 60px;
  width: 100%;
  margin: 5px;
}

.addImage{
  border-radius: 5px;
  background-color: white;
  border: 0;
  cursor: pointer;
  margin: 5px;
}

.searchList{
  width: 100%;
  border-radius: 10px;
  border: 0;
  margin-bottom: 10px;
}