.button_containerc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonc {
    height: 5rem;
    width: 18rem;
    background-color: #308AE4;
    border-radius: 1.5rem;
    border: none;
    color: white;
    margin: auto;

    &:hover {
    background-color: #367fc8;
    cursor: pointer;
    }
}

.username {
    width:fit-content;
    background-color: #308AE4;
    border-left: 10px solid #308AE4;
    border-right: 10px solid #308AE4;
    border-radius: 1.5rem;
    
    color: white;
}

.time {
  font-size: small;
  
}

.text {
  background-color: rgb(212, 210, 210);
  border-radius: 1.5rem;
  width:fit-content;
  border-left: 10px solid rgb(212, 210, 210);
  border-right: 10px solid rgb(212, 210, 210);
  margin-bottom: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 16px;
  overflow-y: scroll;
}

.messages {
  flex: 1;
  position: relative;
}

.messages-scroller {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 16px;
  overflow-y: scroll;
}

.message {
  align-self: flex-start;
  margin-top: 4px;
  padding: 8px 12px;
  max-width: 240px;
  background: #f1f0f0;
  border-radius: 16px;
  font-size: 14px;
}

.message.me {
  align-self: flex-end;
  background: #f19e38;
  color: white;
}

.chat-bar {
  height: 64px;
  border-top: 1px solid #ddd;
}

.chat-bar form {
  height: 100%;
  padding: 16px;
}

.chat-bar form input {
  width: 100%;
  height: 32px;
  padding: 8px 16px;
  border: 1px solid #308AE4;
  border-radius: 16px;
  outline: none;
}

.chat-bar form input:focus {
  border: 1px solid #308AE4;
}