
.IMGTextContainerHelp{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.1rem;
  flex-wrap: wrap-reverse;
  margin-bottom: 10rem;
}

.FAQTopSectionP{
  font-size: 2rem;
}

.faq_answers--main{
  padding-left: 20px;
  padding-right: 20px;
}