/* General styling for the main container */
#terms-Main {
  height: max-content;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 2rem;
}
#btn-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 2rem;
}

#switchText {
  display: block;
  margin-top: 2rem;
  background-color: white;
  width: fit-content;
  border-radius: 10px;
  height: 100%;
  border: 2px solid #308ae4;
  white-space: nowrap;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

#switchText:hover {
  background-color: #308ae4;
  color: white;
}

/* Styling for titles */
#terms-title {
  font-size: 3rem;
  font-weight: 100;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Styling for the upper section */
#terms-UpperSection {
  display: flex;
  flex-direction: row;
  margin: auto;
  max-width: 100rem;
  max-height: fit-content;
  text-align: left;
}

#terms-UpperSection h1 {
  margin: auto;
  width: 70rem;
  padding-bottom: 20rem;
  white-space: nowrap;
  font-size: 3rem;
  font-weight: 700;
}

#terms-image {
  margin-left: 15rem;
  width: 45%;
  height: 50%;
}

/* Styling for the lower section */
#terms-LowerSection {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 100rem;
  max-height: fit-content;
  text-align: left;
}

#terms-LowerSection p {
  padding-bottom: 1.5rem;
}

#terms-LowerSection span {
  font-weight: 700;
  padding-top: 2rem;
}

#terms-description {
  padding-bottom: 2rem;
}

@media screen and (max-width: 1400px) {
  #terms-Main {
    margin-bottom: auto;
  }

  #terms-LowerSection {
    max-width: 70%;
    max-height: 100%;
  }

  #terms-UpperSection {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  #terms-UpperSection h1 {
    margin: auto;
  }

  #terms-image {
    width: 60%;
    height: 70%;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  #terms-Main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    font-size: 1.5rem;
  }

  #terms-UpperSection h1 {
    font-size: 2rem;
    width: fit-content;
    margin: 0;
    padding: 0;
  }

  #terms-image {
    width: 100%;
  }

  #terms-title {
    font-size: 1.5rem;
    font-weight: 600;
  }

  #terms-LowerSection {
    max-width: 100%;
    max-height: 100%;
  }
  #terms-listStyle {
    margin: 2rem;
  }
}
