#MijnKlussenOverzichtMain {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 4rem;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 8rem;
  padding-left: 2rem;
  padding-right: 2rem; /* Reduced padding for smaller screens */
  max-width: 1200px; /* Maximum width for responsiveness */
  margin-left: auto;
  margin-right: auto;
}

#cardTitleWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 1rem;
}

#cardTitle {
  font-size: 19px;
  text-align: center;
  padding-top: 1rem;
}

#whiteCardOne {
  width: 45rem;
  height: 100%;
  background: white;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  padding: 3rem;
  padding-top: 1;
  border-radius: 1.2rem;
  position: relative;
}

#whiteCardTwo {
  width: 45rem;
  min-height: 45rem;
  background: white;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

#blueCircle {
  width: 6rem;
  height: 6rem;
  background: #308AE4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#blueCirclePlus {
  font-size: 40px;
  color: white;
}

#moreInfoName {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

#marginBottom {
  margin-bottom: 2rem;
}

#smallSectionsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5rem;
  gap: 6rem;
  flex-wrap: wrap;
}

#topButtonContainer {
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#topButton {
  height: 4rem;
  max-width: 13rem;
  background: white;
  border: 2px solid #308ae4;
  color: black;
  font-size: 12px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

#pageTitle {
  font-size: 20px;
}

#pfpIcon {
  width: 5.0rem;
  aspect-ratio: 1/1;
  object-fit: contain;
  border-radius: 50%;
}

#profileBeam {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

#profileBeamButton{
  color: #17A1FA;
  font-size: 14px;
  font-weight: 550;
}

#pfpNameWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.3rem;
}

@media only screen and (max-width: 410px) {
  #profileBeam h5 {
    margin-right: 10px; /* Example value, adjust as needed */
  }

  #pfpName{
    font-size: 12px;
  }
}