.MostprosTeam {
    background-color: #E4F9FF;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 30px;
}

.MostprosTeam_con{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    width: 100%;
}

.team_img{
    width: 100%;
}

.team_img h2{
    text-align: center;
}

.team_img img{
    width: 100%;
}

@media screen and (max-width: 768px){
    .MostprosTeam{
        padding: 50px 20px;
    }

    .team_text{
        font-size: 16px;
    }
}