#privacy-policyMain {
  height: max-content;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 2rem;
}

#privacypolicyUpperSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

#privacypolicyUpperSection h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-right: 43rem;
  margin-bottom: auto;
  margin-top: 10rem;
}

#Privacyimage {
  width: 25%;
  height: 50%;
}

#privacypolicyLowerSection {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 150rem;
  max-height: 150rem;
  width: 100%;
  height: 100%;
  text-align: left;
}

#privacypolicyLowerSection p {
  padding-bottom: 1.5rem;
}

#privacypolicyLowerSection span {
  font-weight: 700;
  padding-top: 2rem;
}

.privacy-text {
  padding-bottom: 5rem;
}

#privacy-mini-title {
  font-size: 2.2rem;
  font-weight: 700;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 1400px) {
  #privacy-policyMain {
   margin-bottom: auto;
  }

  #privacypolicyLowerSection {
    max-width: 100%;
    max-height: 100%;
  }

  #privacypolicyUpperSection {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  #privacypolicyUpperSection h1 {
    margin: auto;
  }

  #Privacyimage {
    width: 60%;
    height: 70%;
    margin-bottom: 3rem;
  }
}
