.confirmemail-container {
    height: 100vh;
    width: 100vw;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.confirmemail-card {
    height: 60%;
    width: 60%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #E9F4FF;
    display: grid;
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr 1fr;
    gap: 2rem;
    justify-items: center;
    border-radius: 2rem;
}

.confirmemail-card_header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.confirmemail-card_header hr {
    width: 80%;
    position: absolute;
    bottom: 0;
}

.confirmemail-card_title {
    text-align: center;
    align-self: center;
    width: 50%;
    font-size: 3rem;
}

.confirmemail-card_button {
    width: 50%;
    height: 80%;
    border-radius: 10px;
    border: none;
    background: #308AE4;
    color: #FFF;
    font-size: 12px;
}

.confirmemail-card_text {
    width: 50%;
    font-size: 1.5rem;
    justify-self: center;
    align-self: center;
}

.confirmemail-card_text.confirmed {
    text-align: center;
    font-size: 2rem;
}

.confirmemail-card_newCode {
    color: #308AE4;
    width: 50%;
    font-weight: 400;
    font-size: 1.5rem;
    justify-self: center;
    align-self: center;
    cursor: pointer;
}

@media screen and (max-width: 1280px) {

    .confirmemail-card {
        height: 80%;
        width: 80%;
        padding-top: 0;
        padding-bottom: 0;
    }

    .confirmemail-card_text {
        width: 80%;
        text-align: center;
        
        font-size: 2rem;
    }

    .confirmemail-card_button {
        width: 90%;
    }

    .confirmemail-card_newCode {
        width: 90%;
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .confirmemail-card {
        width: 90%;
        height: 90%;
    }

    .confirmemail-card_button {
        width: calc(100% - 5rem);
    }
}