.nav{
    width: 100%;
    padding: 50px 30px;
    display: flex;
    height: 80px;
    z-index: 1;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.384), rgba(0, 0, 0, 0));
}

.other-nav{
    width: 100%;
    padding: 50px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-container{
    width: 100%;
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
}

.nav-container a {
    text-decoration: none;
}

.nav-leftside{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-leftside > img {
    height: 30px;
    aspect-ratio: 1/1;
}

.nav-leftside > .white-h1{
    color: white;
}

.nav-leftside > .black-h1{
    color: black;
}

.nav-rightside{
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 15px;
}

li:last-of-type > a{
    text-decoration: underline;
    text-underline-offset: 2px;
}

li > .white-items{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

li > .black-items{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.loginButton{
    font-size: 20px;
    font-weight: 600;
    background: none;
    border: none;
    color: white;
}

.mobile-nav{
    display: none;
}

@media screen and (max-width: 1024px) {
    .nav{
        padding: 20px 25px;
        background: white;
    }
    .nav-container{
        display: none;
    }  

    .mobile-nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .black-h1{
        font-size: 26px;
    }

    .mobile-nav > svg{
        font-size: 30px;
    }

    .nav-list{
        display: flex;
        flex-direction: column;
        gap: 15px;
        position: absolute;
        transform: translateY(114px) ;
        background-color: white;
        width: 100%;
        left: 0;
        padding: 25px;
    }

    .nav-list > li > a{
        font-size: 20px;
    }

    .white-items {
        color: black !important;
    }


}