#quality-topSection {
  display: flex;
  max-width: 120rem;
  align-items: center;
  gap: 38rem;
  margin: auto;
  color: black;
}

#quality-img {
  max-height: 40rem;
}

#quality-leftSection {
  font-size: 1.8rem;
  max-width: 120rem;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

#quality-reqboxtop h3 {
  font-size: 2rem;

}


#quality-reqboxtop p {
  font-size: 1.2rem;
  max-width: 41rem;
}

#quality-reqboxtop {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  color: black;
}

#quality-reqboxbottom {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  color: black;
  background-color: #b5dcff;
  max-width: 47.9rem;
  height: 15.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

#quality-reqboxbottom h3 {
  text-align: center;
  font-size: 1.5rem;
}

#quality-reqboxbottom p {
  text-align: center;
  font-size: 1.2rem;
}

#quality-bottomSection {
  display: flex;
  flex-direction: column;
  width: 120rem;
  margin: auto;
  color: black;
}

#quality-bottomTitle {
  font-weight: 100;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#quality-listcon ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}


#quality-listcon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
}

#quality-list {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  align-items: center;
  width: 100%;
}

#quality-numberList {
  font-family: "Literata", serif;
  font-size: 6rem;
  color: #308ae4;
  font-weight: bold;
}

#quality-numberList span {
  align-items: center;
  justify-content: center;
}

.firstquality-tilesBox {
  background-color: #E9F4FF;
  padding: 5rem;
  border-radius: 10px;
}

.firstquality-tilesBox h3 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: medium;
}

.firstquality-tilesBox p {
  font-size: 1.6rem;
  padding: 1.5rem;
  line-height: 2.4rem;
}

.firstquality-tilesBoxli {
  list-style: square;
  margin-left: 4rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.quality-tilesBox {
  background-color: #E9F4FF;
  margin-top: 5rem;
  padding: 5rem;
  border-radius: 10px;
}

.quality-tilesBox h3 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: medium;
}

.quality-tilesBox p {
  font-size: 1.6rem;
  padding: 1.5rem;
  line-height: 2.4rem;
}

.quality-tilesBox li {
  list-style: square;
  margin-left: 4rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

@media screen and (max-width: 1400px) {
  #quality-topSection {
    flex-direction: column;
    height: auto;
    gap: 2rem;
  }

  #quality-img {
    margin: auto;
    width: 50%;
    height: auto;
  }

  #quality-leftSection {
    max-width: 100%;
  }

  #quality-reqboxtop h3 {
    text-align: center;
  }

  #quality-reqboxtop {
    padding: 3rem;
  }


  #quality-reqboxtop,
  #quality-reqboxbottom {
    width: auto;
    margin-top: 2rem;
    border-radius: 0px;
  }

  #quality-reqboxbottom {
    padding: 3rem;
    border-radius: 0px;
  }

  #quality-bottomTitle {
    text-align: center;
  }

  #quality-bottomSection {
    flex-direction: column;
    width: auto;
    margin: auto;
  }

  #quality-list {
    flex-direction: column;
    gap: 2rem;
  }
}