#answer-var .answer {
  padding: 25px;
  text-align: center;
  overflow: hidden;
  font-size: 13px;
  color: black;
  font-weight: 600;
}

#answer-var {
  max-width: 350px;
  max-height: 350px;
  height: 80%;
}

#answer-var .answer {
  background-color: #e9f4ff;
  border: none;
  border-radius: 4px;
  padding: 25px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  text-align: center;
  width: 100%;
  transition: all 0.5s ease;
}

#answer-var p {
  font-size: 15px;
  display: block;
  text-align: center;
  padding: 0.75rem;
  margin: 15px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

/* Hover effect for answers */
#answer-var .answer:hover {
  background-color: #d4e9ff;
}

/* The active or 'open' state of the answer, which might display more content */
#answer-var .answer-active {
  background-color: #e9ecef;
}

@media screen and (max-width: 768px) {
  #answer-var .answer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50rem;
  }
  #answer-var p {
    width: 50rem;
  }
}