/* Review.css */

.reviews-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns by default */
  gap: 20px; /* Add gap between grid items */
  margin-bottom: 20px;
}

.review {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 15px;
}

.review-date {
  font-size: 15px;
  color: #666;
  margin-left: 25px;
}

.review-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.review-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.author-name {
  font-weight: bold;
}

.total-reviews {
    margin: 10px;
    border-left: 1px solid #ccc;
    margin-left: 15px;
    padding-left: 15px;
  }

.review-info {
}

.review-body {
  margin-top: 10px;
}

.review-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.review-actions {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
}

.review-actions button {
  background-color: white;
  border: 2px solid #308ae4;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s;
}

.review-actions button:hover {
  background-color: #308ae4;
  color: white !important;
}

/* Responsive styles */
@media (max-width: 768px) {
  .reviews-container {
    grid-template-columns: 1fr; /* One column on smaller screens */
  }

  .review-actions {
    grid-template-columns: 1fr; /* Stack buttons vertically on smaller screens */
  }
}

@media (max-width: 480px) {
  .review-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .review-header img {
    margin-bottom: 10px;
  }

  .review-actions {
    width: 100%;
  }

  .review-actions button {
    width: 100%; /* Full width buttons on very small screens */
  }
}

/* STAR RATING */
.star-rating {
  display: inline-block;
}

.star {
  color: #ccc; /* Default empty star color */
  font-size: 1.5em;
  line-height: 1;
  margin: 0 2px;
}

.star.filled {
  color: #ffc107; /* Gold color for filled stars */
}
