.taskCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px  rgba(0, 0, 0, 0.25);
}

.taskCard svg{
    color: #308AE4;
    font-size: 25px;
}

.user-detail{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.user-detail h2{
    font-size: 20px;
    font-weight: 550;
}

.user-detail p{
    font-size: 16px;
}

.job-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.job-info h2{
    font-size: 26px;
}

.job-info p{
    font-size: 16px;
    text-align: center;
}

.jobInfo-extra-con{
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.jobInfo-extra{
    display: flex;
    align-items: center;
    gap: 10px;
}

.job-desc-btn{
    align-self: center;
    width: fit-content;
    padding: 15px 60px;
    border: 2px solid #308AE4;
    border-radius: 15px;
}

.job-desc-btn:hover{
    cursor: pointer;
}

.mail_btn{
    padding: 15px 25px;
    text-decoration: none;
    color: white;
    background-color: #308AE4;
    border-radius: 10px;
    font-size: 14px;
}