.contact_form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact_input{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact_input label{
    font-size: 16px;
}

.contact_input input{
    outline: none;
    border: 2px solid #D9D9D9;
    border-radius: 10px;
    padding: 20px 15px;
}
.contact_question{
    width: 100%;
    min-height: 150px;
    resize: none;
    font-family: inherit;
    padding: 15px;
    outline: none;
    border: 2px solid #D9D9D9;
    border-radius: 10px;
}

.contact_form_submit{
    width: 55%;
    background-color: #308AE4;
    color: white;
    border: none;
    font-size: 16px;
    padding: 20px;
    border-radius: 10px;
    align-self: center;
}

.contact_form_submit:hover{
    cursor: pointer;
}
