#main-con {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
  padding: 20px;
  max-width: 1300px;
}

#main-center {
  display: flex;
  justify-content: center;
}

#content-con {
  display: flex;
  width: 1000px;
  padding: 60px 0px 10px;
  flex-direction: column;
  align-items: flex-end;
}

#settings-con {
  display: flex;
  flex-direction: column;
  width: 1000px;
  padding: 30px 0px 10px;
}

#sidebar-con {
  padding: 20px;
}

.navbar-con {
  display: flex;
  margin-top: 20px;
}

.settings-upper {
  z-index: 0;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  width: 200px;
  font-size: 18px;
  margin-bottom: 20px;
}

/* Ensure that each section fills the column and is not wider than the content area */
section {
  padding: 20px;
  border-radius: 8px; /* Rounded corners for the sections */
  margin-bottom: 20px; /* Space between sections */
}

/* Make sure the button takes the full width of its container */
.user-info-form button,
.home-owner-settings button {
  width: 100%;
  /* ... other button styles */
}
