.HomeOwnerSettingsMain {
    width: 100%;
    height: 100%;
    padding-right: 12rem;
    padding-top: 5rem;
    display: flex;
}

.RightsideHomeOwnerSettingsSection {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
}

.sideNavHomeOwnerSettingsPage {
    height: 45%;
    width: 18rem;
    background: #222;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightsideHomeOwnerSettingsPage {
    width: 80%;
    height: 100vh;
}

@media (max-width: 1044px) {
    .RightsideHomeOwnerSettingsSection {
        display: none;
    }

    .HomeOwnerSettingsMain {
        align-items: center;
        justify-content: center;
        padding-right: 0rem;
    }
}

@media (max-width: 768px) {
.homeOwnerProfileMain {
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
}

.rightsideHomeOwnerProfileSection {
    width: 100%;
    height: 100%;
    padding: 0;
}
}