#flexbox-panel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 5rem;
  margin-top: 2rem;
  margin-left: 2rem;
}

.sidebar {
  height: 45%;
  width: 18.5rem;
  background: #308ae4;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-link.active {
  color: #222;
  border-radius: 1rem;
}

.sidebar-list {
  list-style: none;
  font-size: 1.7rem;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

.sidebar-item {
  padding-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 100;
  font-family: "Poppins", sans-serif;
}

.sidebar-item-space {
  padding-top: 1rem;
  margin-bottom: 2.5rem;
  font-weight: 100;
  font-family: "Poppins", sans-serif;
}

.sidebar-item svg {
  margin-right: 1rem;
  font-size: 2rem;
}

.sidebar-bottom {
  padding-top: 3.5rem;
}

.sidebar-link {
  text-decoration: none;
  color: white;
  display: block;
  padding: 0.5rem;
}

.sidebar-link:hover {
  color: #222;
}

.coming-soon {
  color: grey;
}

.coming-soon .sidebar-link {
  pointer-events: none;
  display: flex;
  align-items: center;
  position: relative;
}

.coming-soon .sidebar-link:hover {
  text-decoration: line-through;
  color: grey;
}

.coming-soon .coming-soon-tooltip {
  display: none;
  background: #000;
  color: #fff;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  position: absolute;
  left: 120%;
  top: 52%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: 1.5rem;
  margin-top: -0.5rem;
  margin-left: 3.5rem;
}

.coming-soon:hover .coming-soon-tooltip {
  display: block;
}

@media (max-width: 1444px) {
  .sidebar {
    height: 50%;
    width: 18.5rem;
    background: #308ae4;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
