/* Code Template for adding the SideNav to a Webpage */
#flexbox-panel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 5rem;
  margin-top: 2.0rem;
  margin-left: 2.0rem;
}

/* ^_^ */

.sidebar {
  height: 45%;
  width: 18.5rem;
  /* <- aanpassen naar % wanneer er content inzit */
  background: #222;
  border-radius: 8px;
  /* bij borderradius mag pixels wel gebruikt worden!*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-link.active {
  color: #207cd8;
  /* or any highlight color */
  border-radius: 1.0rem;
}

.sidebar-list {
  list-style: none;
  font-size: 1.7rem;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

.sidebar-item {
  margin-bottom: 0.5rem;
  font-weight: 0;
  font-family: "Poppins", sans-serif;
}

.sidebar-item svg {
  margin-right: 1.0rem;
  /* Adjust the space between icon and text */
  font-size: 2.0rem;
}

.sidebar-bottom {
  padding-top: 3.5rem;
}

.sidebar-link {
  text-decoration: none;
  color: white;
  /* Or any other color as per your design */
  display: block;
  padding: 0.5rem;
  /* Adjust padding as needed */
}

.sidebar-link:hover {
  color: #207cd8;
}

@media (max-width: 1444px) {
  .sidebar {
    height: 50%;
    width: 18.5rem;
    background: #222;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}