.specialist_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.specialist_card_detail{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.specialist_card_img_con{
    border-radius: 50%;
    width: 50%;
    height: 100px;
}

.specialist_card_img_con img{
    vertical-align: middle;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}

.specialist_personal_detail{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.extra_specialist_details{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.extra_specialist_details p{
    font-weight: 600;
    font-size: 22px;
}

.specialist_card_desc{
    font-size: 14px;
    color: #A6ACB2;
}

.mail_btn{
    padding: 15px 25px;
    text-decoration: none;
    color: white;
    background-color: #308AE4;
    border-radius: 10px;
    font-size: 14px;
}