#main-center {
  display: flex;
  justify-content: center;
}

#main-con {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  gap: 3rem;
  margin: 0px auto 0 150px;
}

.settings-upper {
  z-index: 0;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  width: auto;
  font-size: 18px;
  margin-left: 150px;
  transition: al 0.3s ease;
}


#content-con {
  display: flex;
  width: 1000px;
  padding: 0px 0px 10px;
  flex-direction: column;
  align-items: flex-end;
}

#settings-con {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 3px 0px 10px;
}

.navbar-con {
  display: flex;
  margin-top: 20px;
}


/* Ensure that each section fills the column and is not wider than the content area */
section {
  padding: 20px;
  border-radius: 8px;
  /* Rounded corners for the sections */
  margin-bottom: 20px;
  /* Space between sections */
}

/* Make sure the button takes the full width of its container */
.user-info-form button,
.home-owner-settings button {
  width: 100%;
  /* ... other button styles */
}