#review-panel {
  display: grid;
  grid-template-columns: 200px 1fr;
  margin: 35px 0px 15px 10px;
}
#side-panel-left-review {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

#side-panel-right-review {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
