#review-panel {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  gap: 0rem;
  margin: 25px auto 0 140px;
}
#side-panel-left-review {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

#side-panel-right-review {
  display: grid;
  grid-template-rows: 1fr auto;
  margin-left: 3rem;
  gap: 2rem;
}
