@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  font-family: "Inter", sans-serif, "poppins";
}

.edit_profile_container {
  display: flex;
  flex-direction: column;
}

.profile-con-upper {
  width: 100rem;
  min-height: 50rem;
  margin: auto 100px auto;
  background-color: #e8f3fe;
  border-radius: 10px;
}

.profile-con {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding: 50px;
  justify-items: start;
}

.sidebar-con {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  background-color: #e8f3fe;
  flex-wrap: nowrap;
  align-items: baseline;
}

.sidebar-con h1 {
  font-size: 2.5rem;
  white-space: nowrap;
}

.star-con {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #e8f3fe;
}

.profile-info-con {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #e8f3fe;
}

.profile-info-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 75%;
  width: 250px;
  max-height: 1200px;
}

.profile-info-card h4 {
  font-size: 1.8rem;
  color: black;
  text-align: center;
  margin-bottom: 15px;
}

.profile-info-card ul li {
  font-size: 1.4rem;
  text-align: left;
  margin-bottom: 8px;
  padding-bottom: 15px;
  list-style: none;
}

.profile-info-con-side {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.svg-linked {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  background-color: #e8f3fe;
}

.star-review svg {
  font-size: 30px;
  color: #f8d353;
}

.job-title {
  padding-top: 1.4rem;
  font-size: 1.4rem;
  color: #9c9c9c;
}

.social-li {
  float: right;
}

.location {
  padding-top: 10px;
  font-size: 1.4rem;
  color: #9c9c9c;
  width: 350px;
}

.location svg {
  font-size: 25px;
  color: #308ae4;
  float: left;
}

.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  border-radius: 80%;
  border: 10px solid #ffffff;
  width: 20rem;
  margin: auto;
  margin-bottom: 25px;
}
.content-con {
  grid-row: 2;
  margin: auto 15px 50px;
}

.availability-btn {
  background-color: #308ae4;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 1.4rem;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.text-con {
  grid-row: 3;
  white-space: wrap;
}

.text-con p {
  font-size: 15px;
  margin-bottom: 15px;
}

.text-con span {
  font-size: 15px;
}

.availability-btn {
  display: flex;
  color: white;
  flex-direction: row;
  align-items: center;
}

.availability-btn svg {
  margin-right: 15px;
  font-size: 30px;
}

.profile-under-sec {
  display: flex;
  margin: 70px 50px 70px 50px;
  max-width: 1100px;
  padding-left: 150px;
  border-top: 1px solid #dddddd;
}

.profile-under-sec h2 {
  padding-top: 30px;
  font-size: 2.5rem;
  font-weight: 0;
}

.photos-videos-section {
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.img-slideshow-con p {
  font-family: "poppins", "Inter";
  font-weight: 600;
  font-size: 25px;
}

.img-upload {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0px;
}

.img-col img {
  max-width: 150px;
  margin: auto 0px auto 50px;
}

.upload-dot-layout {
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 550px;
  height: 300px;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease-in-out;
}

.upload-dot-layout:hover {
  background-color: #f8f8f8;
}

.upload-dot-layout button {
  display: flex;
  border-radius: 50%;
  background-color: #308ae4;
  color: white;
  padding: 20px 20px;
  border: none;
  cursor: pointer;
}

.upload-dot-layout button svg {
  font-size: 35px;
}

.upload-dot-layout p {
  font-weight: 600;
  margin: 10px;
}

.img-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.large-img img {
  display: block;
  margin: 20px;
  max-height: 300px;
  max-width: 300px;
  border-radius: 15px;
}
.small-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding-left: 20px;
  margin: 20px 0px;
}

.small-images img {
  max-width: 150px;
  border-radius: 15px;
}

.profile-btn-con {
  display: flex;
  justify-content: center;
  margin: 0px 0px 20px 0px;
}

.change-btn {
  background-color: #e8f3fe;
  border: 2px solid #308ae4;
  border-radius: 15px;
  padding: 10px 20px;
  width: 190px;
  height: 57px;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s ease-in-out;
}

.change-btn:hover {
  background-color: #308ae4;
  color: white;
}
