@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.edit_profile_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.profile-con-upper {
  max-width: 110rem;
  width: 100%;
  min-height: 50rem;
  margin: auto 0 0 2rem;
  background-color: #e8f3fe;
  border-radius: 10px;
}

.moreinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  width: fit-content;
}

.profile-right-con {
  display: flex;
  height: max-content;
  width: auto;
  flex-direction: column;
  padding: 1rem;
}

.profile-con {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding: 50px;
  justify-items: start;
}

.sidebar-con {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  flex-wrap: nowrap;
  align-items: baseline;
}

.sidebar-con h1 {
  font-size: 2.5rem;
  white-space: nowrap;
}

.star-con {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.profile-info-con {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.profile-info-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 3rem;
  height: 100%;
  width: 25rem;
  max-height: 1200px;
}

.profile-info-card h4 {
  font-size: 1.8rem;
  color: black;
  text-align: center;
  margin-bottom: 15px;
}

.profile-info-card ul li {
  display: flex;
  width: 100%;
  font-size: 1.3rem;
  list-style: none;
}

.profile-info-con-side {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
}

.svg-linked {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  background-color: #e8f3fe;
}

.star-review svg {
  font-size: 30px;
  color: #f8d353;
}

.job-title {
  text-transform: lowercase;
  padding-top: 1.4rem;
  font-size: 1.4rem;
  color: #9c9c9c;
}

.social-li {
  float: right;
}

.profile-desc {
  padding-top: 10px;
  font-size: 1.4rem;
  color: #9c9c9c;
  width: 350px;
}

.profile-desc svg {
  font-size: 25px;
  color: #308ae4;
  float: left;
}

.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  border-radius: 80%;
  border: 10px solid #ffffff;
  width: 20rem;
  margin: auto;
  margin-bottom: 25px;
}

.availability-con {
  padding: 15px;
  margin: auto 15px 50px;
}

.availability-btn {
  background-color: #308ae4;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 15px 20px;
  font-size: 1.4rem;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.availability-btn {
  display: flex;
  color: white;
  flex-direction: row;
  align-items: center;
}

.availability-btn svg {
  margin-right: 15px;
  font-size: 30px;
}

.text-con {
  padding: 25px;
  grid-row: 3;
  white-space: wrap;
}

.text-con p {
  font-size: 15px;
  margin-bottom: 15px;
}

.text-con span {
  font-size: 15px;
}

.profile-middleline {
  display: flex;
  margin: 7rem 5rem 7rem 5rem;
  width: 100rem;
  border-top: 1px solid #dddddd;
}

.profile-middleline h2 {
  padding-top: 30px;
  font-size: 2.5rem;
  font-weight: 0;
}

.photos-videos-section {
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-slideshow-con {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.img-slideshow-con p {
  font-family: "poppins", "Inter";
  font-weight: 600;
  font-size: 25px;
}

.img-upload {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: auto;
}

.img-col img {
  max-width: 150px;
  margin: auto 0px auto 50px;
}

.upload-dot-layout {
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 550px;
  height: 300px;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease-in-out;
}

.upload-dot-layout:hover {
  background-color: #f8f8f8;
}

.upload-dot-layout button {
  display: flex;
  border-radius: 50%;
  background-color: #308ae4;
  color: white;
  padding: 20px 20px;
  border: none;
  cursor: pointer;
}

.upload-dot-layout button svg {
  font-size: 35px;
}

.upload-dot-layout p {
  font-weight: 600;
  margin: 10px;
}

.img-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: auto;
}

.large-img img {
  display: block;
  margin: 20px;
  max-height: 300px;
  max-width: 300px;
  border-radius: 15px;
}

.small-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding-left: 20px;
  margin: 20px 0px;
}

.small-images img {
  max-width: 150px;
  border-radius: 15px;
}

.profile-btn-con {
  display: flex;
  justify-content: center;
  margin: 0px 0px 20px 0px;
}

.change-btn {
  background-color: #e8f3fe;
  border: 2px solid #308ae4;
  border-radius: 15px;
  padding: 10px 20px;
  width: 190px;
  height: 57px;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s ease-in-out;
}

.change-btn:hover {
  background-color: #308ae4;
  color: white;
}

@media (max-width: 1044px) {
  .edit_profile_container {
    width: 100%;
    height: 100%;
  }

  .profile-con-upper {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
  }

  .profile-right-con {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    height: 100%;
  }

  .profile-info-card {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .email-sect {
    font-size: 1.5rem;
  }

  .star-con {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    width: 100%;
  }

  .profile-info-card ul li {
    font-size: 1.5rem;
  }

  .sidebar-con {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
  }

  .availability-con {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem;
    margin: auto;
  }

  .profile-con {
    display: flex;
    flex-direction: column;
  }

  .moreinfo {
    width: 100%;
  }

  .upload-dot-layout {
    width: 80%;
  }

  .img-slideshow-con {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0rem;
  }

  .profile-middleline {
    width: 80%;
  }

  .img-slideshow-con h3 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .img-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-info-con {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
  }

  .job-title {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .img-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .profile-btn-con {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
  }

  .profile-info-con-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    white-space: nowrap;
  }

  .profile-info-con-side p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap: 1rem;
  }

  .change-btn {
    width: 80%;
  }
}

@media (max-width: 426px) {
  .profile-con-upper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  .img-slideshow-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0rem;
  }

  .profile-con {
    width: 100%;
    padding: 0;
  }

  .moreinfo {
    width: 100%;
  }

  .sidebar-con {
    width: 100%;
    height: 100%;
  }

  .profile-info-card {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    width: 100%;
  }

  .profile-info-con-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    white-space: nowrap;
  }

  .profile-info-con-side p {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    gap: 1rem;
  }

  .profile-desc {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .profile-right-con {
    width: 100%;
  }

  .profile-info-con {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    width: 100%;
  }

  .job-title {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .star-con {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    width: 100%;
  }

  .upload-dot-layout {
    width: 100%;
  }

  .img-grid {
    width: 100%;
  }

  .img-grid img {
    max-width: 70%;
  }

  .small-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 100%;
  }

  .small-images img {
    max-width: 80%;
  }

  .large-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50%;
    border-radius: 15px;
  }

  .small-images {
    padding-left: 0rem;
    margin: 0;
  }
}
