.filter-dropdown {
    position: relative;
    color: #308AE4;
    font-weight: bolder;
}

.filter-selector {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: black;
    gap: 50px;
}

.filter-selector:hover {
    color: #308AE4;
}

.selected-value {
    margin-right: 8px;
    font-size: 13px;
}

.expand-icon {
    color: #888;
}

.filter-options {
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 10px;
    margin: 0;
    background-color: #fff;
    border-top: none;
    z-index: 1;
    font-size: 15px;
    color: black;
}

.filter-options li {
    padding: 8px;
    cursor: pointer;
}

.filter-options li:hover {
    background-color: #f0f0f0;
}

.filterbar{
    background-color: #E9F4FF;
    padding: 0px 30px;
    border-radius: 10px;
}

.filter-con{
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    transform: translateY(10px);
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter_menu_items{
    display: flex;
    gap: 25px;
}

.sort_text_con {
    display: flex;
    align-items: center;
    cursor: pointer; /* Add this to make it appear clickable */
}

.filter_items {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
}

.filter_items_con:hover .filter_items {
    display: block;
}

.filter_search_btn{
    border: none;
    background-color: #308AE4;
    color: white;
    padding: 15px 50px;
    border-radius: 10px;
    height: fit-content;
}

.filter_search_btn:hover{
    cursor: pointer;  
}