#main {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
}

#mainTwo {
  width: 68%;
  padding: 2rem;
  margin-bottom: 10rem;
}

#textWrapper {
  width: 86.5%;
  margin-bottom: 6rem;
}

#smallTitle {
  font-size: 3rem;
  font-weight: 1000;
  color: #308ae4;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  margin: 0 0 1em;
}

#bigTitle {
  line-height: 4rem;
  font-family: "Chivo", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 0.33em;
  font-size: 4.5rem;
}

#contentContainer {
  display: flex;
  justify-content: space-between;
}

#textImageWrapper {
  max-width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

#bannerImage {
  width: 105%;
  height: 18rem;
}

#groupImage {
  width: 50rem;
  object-fit: contain;
  border-radius:6%;
}

#aboutusText{
  font-size: 1.9rem;
}

@media (max-width: 1176px) {
  #contentContainer {
    flex-direction: column-reverse;
  }

  #groupImage {
    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
  }

  #textImageWrapper {
    max-width: 100%;
  }

  #bannerImage {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1176px) {
  #contentContainer {
    flex-direction: column-reverse;
  }

  #groupImage {
    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
  }

  #textImageWrapper {
    max-width: 100%;
  }

  #bannerImage {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 718px) {
  #bigTitle {
    font-size: 6vw;
    line-height: 1.2;
  }
}
