.mobile-nav {
    display: none;
    width: 100%;
}

.nav-leftside {
    display: flex;
    align-items: center;
}

.menu-icon {
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    margin: 2rem;
    padding: 1rem;
    border-radius: 2px;
}

.menu-icon p {
    font-size: 2rem;
    margin-right: 1rem;
}


.nav-list-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100.2rem;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 2rem 1rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.nav-list-container {
    transform: translateX(0);
    align-items: flex-end;
}

.nav-list-container .close-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem 1rem 2rem 0;
}

.close-icon p {
    margin-right: 1rem;
    font-size: 1.4rem;
    cursor: pointer;
    color: #333;
}

.nav-list-container .nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-list li {
    list-style: none;
    font-weight: 600;
    margin: 1rem 0;
}

.nav-link-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.nav-list .black-items {
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
}

.mobile-nav a {
    text-decoration: none;
}

.dropdown-item {
    display: flex;
    flex-direction: column;
    color: #494949;
}

.dropdown-icon {
    display: flex;
    color: #333;
    margin-left: auto;
    font-size: 1.5rem;
}

.dropdown {
    list-style: none;
    padding-left: 1rem;
}

.dropdown li {
    margin-top: 0.3rem;
    padding: 0.5rem 0;
}



@media screen and (max-width: 1024px) {
    .mobile-nav {
        display: flex;
    }

    .nav-list-container {
        transform: translateX(0);
    }
}