#DisplayImageSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container {
  display: flex;
  position: relative;
  margin: 0;
  width: 75%; /* Adjust if necessary */
  height: auto; /* Adjust or set a fixed height if necessary */
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  filter: brightness(0.6);
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.text-overlay h1 {
  font-size: 5.6rem;
  padding-bottom: 2.5rem;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4); /* Adjust the values for shadow position and intensity */
}

.text-overlay p {
  font-size: 2.6rem;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4); /* Adjust the values for shadow position and intensity */
}

.grid-con {
  margin: 0;
  width: 75%; /* Set this to match the width of the image-container */
}

.grid-row {
  display: flex;
  flex-direction: row;
  margin: 5rem 0; /* Remove side margins and keep only vertical margins */
  width: 100%;
}

.grid-col {
  height: 15rem; /* Adjust the height as necessary */
  margin: auto;
  width: 24%;
}

.grid-row p {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.grid-row svg {
  color: #308ae4;
  font-size: 4rem;
  margin-right: 1.5rem;
}

/* Media Queries */

@media (max-width: 1100px) {
  #DisplayImageSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-overlay h1 {
    font-size: 4rem;
  }

  .image-container {
    width: auto;
  }

  .grid-con{
    width: 100%;
  }

  .grid-col {
    width: 48%;
  }
}
