.nav{
    display: flex;
    align-items: center;
}

.search{
    display: flex;
    align-items: center;
}

.description_container{
    display: flex;
    justify-content: center;
}

.description{
    max-width: 20%;
}

.popularCard_container{
    display: flex;
    width: 100vw;
    justify-content: center;
    grid-gap: 5%;
}

.jobCard img{
    max-width: 20%;
    max-height: 400px;

}