.job_disc_con {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 25px;
  background: rgb(233, 244, 255);
  background: linear-gradient(
    90deg,
    rgba(233, 244, 255, 1) 35%,
    rgba(212, 235, 255, 1) 64%
  );
  margin: 0 auto;
  max-width: 1200px;
  max-height: 600px;
  padding-bottom: 100px;
}

.JobDiscContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 15px 40px;
  margin: 0;
}

.left-grid,
.middle-grid,
.right-grid {
  display: flex;
  flex-direction: column;
}

.right-grid {
  justify-content: flex-end;
}

.job_disc_con h3 {
  font-size: 20px;
  font-weight: 450;
  text-align: center; /* Centreren van de tekst */
  border-bottom: 1px solid #d9d9d9;
  width: 100%; /* Maak de h3 volledige breedte */
  padding-bottom: 10px; /* Voeg wat ruimte toe onder de h3 */
}

.job_disc_header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding-bottom: 35px;
  margin: 0 auto;
  max-width: 1200px;
  max-height: 600px;
  left: 250px;
}

.job_disc_con p,
.job_disc_con h4,
.job_disc_con h5 {
  font-size: 16px;
  font-weight: 450;
  line-height: 1.5;
  text-align: left; /* Links uitlijnen van de tekst */
  margin: 0; /* Verwijder standaardmarges */
}

.job_disc_con p {
  font-weight: 440;
  font-size: 15px;
}

.job_disc_con h4 {
  font-size: 20px;
  font-weight: 450;
  text-align: left; /* Links uitlijnen van de tekst */
  padding-top: 15px; /* Voeg wat ruimte toe boven de h4 */
}

.job_disc_con h5 {
  font-size: 15px;
  font-weight: 600;
  padding-top: 15px;
  text-align: left; /* Links uitlijnen van de tekst */
}

.kraan {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  width: 120px;
}

.job_disc_info {
  width: 450px;
}

.job_disc_info h5 {
  font-size: 16px;
  font-weight: 450;
}
.btn-back {
  display: flex;
  gap: 0px;
  padding-bottom: 100px;
  padding-left: 250px;
  margin: 0px 100px;
  max-width: 516px;
  max-height: 1200px;
  flex-direction: row;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn-primary {
  background-color: #308ae4;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #205b96;
}
.btn-con {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 14px 0px 0px 0px;
  margin: 0 auto;
  max-width: 500px;
  max-height: 1200px;
}

.btn-secondary {
  background-color: white;
  color: black;
  border: 2px solid #308ae4;
  border-radius: 10px;
  padding: 11px 25px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-secondary:hover {
  background-color: #308ae4;
  color: white;
}

.info-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 75%;
  max-width: 500px;
  max-height: 1200px;
}

.info-card h4 {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 15px;
  text-align: center;
}

.info-card ul {
  list-style: none;
  padding: 15px;
  margin: 0;
}

.info-card ul li {
  display: flex;
  font-size: 14px;
  align-items: center;
  margin-bottom: 8px;
}

.job_disc-details {
  flex-direction: column;
  padding-top: 15px;
  margin: 0px;
}

.job_disc-details h4 {
  font-size: 15px;
  font-weight: normal;
}

/* SVG ICONS */
.location-icon {
  color: #308ae4;
  float: left;
  padding-right: 10px;
  margin: 0px;
}

.location-icon svg {
  font-size: 20px;
}

.calendar-icon {
  padding-right: 10px;
  color: #308ae4;
  float: left;
}

.calendar-icon svg {
  font-size: 20px;
}

.email-sect {
  font-size: 13px;
}

.email-sect svg {
  margin-right: 10px; /* Adjust this value as needed */
  font-size: 20px;
  color: #308ae4;
  float: left;
}

.phone-icon {
  color: #5ce45a;
  float: left;
  margin: 0px;
  padding-right: 10px;
}

.phone-icon svg {
  font-size: 20px;
}

.btn-secondary svg {
  font-size: 25px;
  display: inline-block;
  color: #308ae4;
  margin: 0px;
  padding-bottom: 0px;
  transition: 0.3s;
}

.btn-secondary:hover svg {
  color: white;
}

/* Maintain Screen size */
@media screen and (max-width: 768px) {
  .job_disc_con {
    padding: 15px;
    max-width: 100%;
    max-height: none;
  }

  .JobDiscContent {
    grid-template-columns: 1fr;
    padding: 15px;
  }

  .btn {
    flex-direction: column;
    padding: 10px;
  }

  .btn-primary,
  .btn-secondary {
    padding: 12px 25px;
    font-size: 14px;
  }

  .info-card {
    height: auto;
    padding: 15px;
  }

  .info-card h4 {
    font-size: 20px;
  }
}
