.mainSectionWhyMostPros {
  width: 100%;
  padding-left: 20rem;
  padding-right: 20rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15rem;
  justify-content: center;
  margin-bottom: 15rem;
}

.whymostprosleft {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 3rem;
}

.whymostprosh4 {
  font-size: 2rem;
  text-align: left;
  margin-bottom: 3rem;
}

.whymostprosP {
  font-size: 2rem;
  max-width: 48.3rem;
}
.whymostprosPBlue {
  font-size: 1.7rem;
  max-width: 48.3rem;
}

.whymostprosBlueSquare {
  padding: 0.7rem;
  border-radius: 1.3rem;
  background: #E9F4FF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whymostprosright {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4.6rem;
}

.whymostprosrigthimg {
  height: 36rem;
}

.smallcardsWhyMostProsContainer {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.smallcardsWhyMostProsP {
  font-size: 1.6rem;
}

.smallcardsWhyMostPros {
  width: 23.4rem;
  height: 6.4rem;
  background: #E9F4FF;
  border-radius: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsive styles for screens smaller than 1387px */
@media (max-width: 1387px) {
  .mainSectionWhyMostPros {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  
  .flexboxContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .whymostprosleft,
  .whymostprosright {
    width: 100%;
    height: auto;
    border: none;
    margin-top: 1rem;
    align-items: center;
    text-align: center;
  }

  .whymostprosBlueSquare {
    padding: 0.8rem;
  }

  .smallcardsWhyMostPros {
    width: 18rem;
    height: 5rem;
  }
}

/* Responsive styles for screens smaller than 1024px */
@media (max-width: 1024px) {
  .mainSectionWhyMostPros {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .whymostprosBlueSquare {
    padding: 0.6rem;
  }

  .smallcardsWhyMostPros {
    width: 15rem;
    height: 4rem;
  }
}

/* Responsive styles for screens smaller than 768px */
@media (max-width: 768px) {
  .mainSectionWhyMostPros {
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .whymostprosleft,
  .whymostprosright {
    align-items: center;
    text-align: center;
  }

  .whymostprosBlueSquare {
    padding: 0.5rem;
  }

  .smallcardsWhyMostPros {
    width: 13rem;
    height: 3.5rem;
  }
}