.resetpassword-container {
    max-height: 60%;
    width: 60%;
    background: #E9F4FF;
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: start;
}

.resetpassword-container.codesent {
    max-height: 80%;
}

.resetpassword-card {
    height: 100%;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #E9F4FF;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    justify-items: center;
}

.resetpassword-card.codesent {
    grid-template-rows: 2fr 1fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
}

.resetpassword-card_header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.resetpassword-card_header hr {
    width: 80%;
    position: absolute;
    bottom: 0;
}

.resetpassword-card_title {
    text-align: center;
    align-self: center;
    width: 50%;
    font-size: 3rem;
}

/* .resetpassword-card_button {
    width: 50%;
    height: 80%;
    border-radius: 10px;
    border: none;
    background: #308AE4;
    color: #FFF;
    font-size: 12px;
} */
.resetpassword-card_button {
    width: 50%;
    height: 40px; /* Aangepast van 80% voor consistentie */
    border-radius: 10px;
    border: none;
    background: #308AE4;
    color: #FFF;
    font-size: 16px; /* Aangepast voor betere leesbaarheid */
    cursor: pointer; /* Geeft een handje weer als je over de knop hovert */
    transition: background 0.3s, transform 0.1s; /* Gladde transitie-effecten */
}

.resetpassword-card_button:hover {
    background: #1f6fb2; /* Donkerdere tint voor hover effect */
    transform: scale(1.05); /* Laat de knop iets groeien in grootte */
}

.resetpassword-card_button:active {
    background: #155a8a; /* Nog donkerder voor het effect van indrukken */
    transform: scale(0.95); /* Laat de knop iets krimpen alsof deze ingedrukt wordt */
}


.resetpassword-card_text {
    width: 50%;
    font-size: 1.5rem;
    justify-self: center;
    align-self: center;
}

.resetpassword-card_newCode {
    color: #308AE4;
    width: 50%;
    font-weight: 400;
    font-size: 1.5rem;
    justify-self: center;
    align-self: center;
    cursor: pointer;
}

.resetpassword-form_field {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.resetpassword-form_field input {
    width: 100%;
    max-height: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.resetpassword-form_field input:focus {
    border: 1px solid #308AE4;
}