.date-time-picker {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 100%;
    margin-left: 40px;
    margin-top: 20px;
    max-width: 550px;
  }
  
  .date-time-picker span {
    background-color: #3a72ffd4;
    border-radius: 10px;
    font-size: 17px;
    width: 130px;
    text-align: center;
    margin-top: 60px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .month-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding: 5px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
  }
  
  .prev-month, .next-month {
    width: 50px;
    border-radius: 50%;
    background-color: #3a72ffd4;
    color: rgb(255, 255, 255);
    border: 0;
    cursor: pointer;
    font-size: 32px;
    height: 50px;
    margin: 0 20px 0 20px;
  }
  
  .prev-month:hover, .next-month:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: solid 5px #3a72ffd4;
  }
  
  .week-days{
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 20px;
  }

  .week-day{
    display: flex;
  }

  .week{
    display: block;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .days-container{
    display: flex;
    position: absolute;
    gap: 3px;
    padding-left: 60px;
    top: -20;
  }

  .day {
    padding: 10px;
    margin: 2px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10%;
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    margin-top: 10px;
  }
  
  .day:hover, .day.selected, .week-number {
    background-color: #3a72ffd4;
    color: white;
  }
  
  .week-number {
    margin-right: 5px;
    background-color: #3a72ffd4;
    color: white;
    padding: 5px;
    border-radius: 10%;
    height: 35px;
    width: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .day.empty {
    background-color: transparent;
    cursor: default;
  }
  
  .past-day {
    color: #999; /* Maak de tekstkleur voor dagen in het verleden lichter */
  }
  
  .future-day {
    font-weight: bold; /* Maak de tekst van toekomstige dagen vetgedrukt */
  }
  
  .past {
    opacity: 0.5; /* Reduce opacity for past days */
  }
  
  .day:hover:not(.past) {
    background-color: #3a72ffd4; /* Make non-past days brighter on hover */
  }