/* Hier maak ik de design van de delete knop in het form */

.deleteKnop {
    width: 35px;
    height: 35px;
    font-size: 24px;
    font-weight: bolder;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-left: 10px;
    cursor: pointer;
    transition: ease 0.5s;
    border: 0;
    border-radius: 5px;
    margin-left: 20px;
    position: absolute;
    position: absolute;
}

.deleteKnop:hover {
    background-color: white;
    color: rgb(0, 0, 0);
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: ease-in 0.5s, transform 0.5s, box-shadow 0.5s;
}

/* Hier maak ik de design van de add date knop in het form */

.addDateKnop{
    width: 140px;
    height: 40px;
    font-size: 15px;
    font-weight: 800;
    background-color: rgb(18, 114, 232);
    color: white;
    border: solid 3px rgb(18, 114, 232);
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    transition: ease 0.5s;
}

.addDateKnop:hover{
    background-color: white;
    color: black;
    transition: ease 0.5s;
}

/* Hier heb ik ervoor gezorgd dat de inputvelden ruimte hebben en dat zorgt voor overzichtelijkheid. */

.inputDate{
    margin-right: 20px;
    margin-bottom: 5px;
}

.inputTime{
    margin-right: 10px;
    margin-bottom: 5px;
}

.tekstBovenDatum{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.verdeeldeTekst{
    margin-right: 18px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .calendar-days {
    display: flex;
    flex-direction: column;
  }
  
  .day-abbreviations {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .day-abbreviations span {
    width: calc(100% / 7);
    text-align: center;
  }
  
  .month-name {
    margin: 0;
  }
  
  .MuiFormControl-root {
    width: 100%;
  }

}

  }
