:root {
  /* fonts */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* responsive sizes */
  --max-laptop: 1600px;
  --tablet-xtra: 1200px;
  --tablet: 1024px;
  --mobile-xtra: 900px;
  --mobile-breakpoint: 768px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  
}