.character_con{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 30px;
    gap: 50px;
}

.whyMostpros_container{
    width: 100%;
    max-width: 1500px;   
    display: flex;
    justify-content: center;
}

.whyMostpros_left{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.whyMostpros{
    display: flex;
    align-items: end;
    gap: 25px;  
}

.whyMostpros_right{
    width: 25%;
    height: 425px;
}

.whyMostpros_right img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 768px){
    .character_con{
        padding: 50px 25px;
    }

    .whyMostpros_container{
        flex-direction: column;
        gap: 25px;
    }

    .whyMostpros_left{
        width: 100%;
        gap: 40px;
    }

    .whyMostpros > p {
        font-size: 16px;
    }

    .whyMostpros img{
        align-self: flex-start;
    }

    .whyMostpros_right{
        width: 100%;
        max-height: 250px;
    }
}