.popularCard-section{
    width: 100%;
    display: flex;
    justify-content: center;
}

.popularCard-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}


.popularcard{
    background-color: white;
    display: flex;
    gap: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    padding: 60px 50px;
    width: 165px;
    border-radius: 1.5rem;
}

.popularcard:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
}

.popularcard svg{
    font-size: 50px;
}