.popular-section{
    background-color: #E9F4FF;
    padding: 10rem 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.popular-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
}