.desc_step_con{
    width: 100%;
    padding: 150px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

.description_container{
    width: 100%;
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.description{
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.desc_text{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.desc_img_con{
    width: 100%;
    height: 300px;
    background-color: white;
    border-radius: 50% 50%;
    transform: translateY(30px);
    display: flex;
    justify-content: center;
}

.desc_img_con img{
    width: 75%;
    height: 100%;
    object-fit: contain;
    padding: 30px;
}


@media screen and (max-width: 1024px){
    .description_container{
        gap: 75px;
    }
}

@media (max-width: 768px){
    .desc_step_con{
        padding: 50px 25px;
        gap: 50px;
    }
    .description_container{
        width: 100%;
        flex-direction: column;
        gap: 50px;
    }

    .description{
        width: 100%;
        gap: 25px;
    }

    .desc_img_con{
        max-height: 250px;
        transform: none;
    }
}
