/* whole hero */
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(./assets/Background-layout.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

/* container for all the components */
.hero-container{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 30px;
}

.populairjobsHero {
    width: 85%;
    display: flex;
    gap: 2rem;
    padding: 1rem; /* Add padding for spacing */
    flex-wrap: wrap;
  }
  
  .populairjobsHeroCard {
    width: 13rem;
    height: 13rem;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    gap: 0.5rem;
    cursor: pointer;
    border-radius: 9px;
    color: black;
    text-decoration: none;
  }
  
  .populairjobsHeroCard:hover {
    transform: scale(1.05); /* Scale up by 5% */
}

  .populairjobsHeroCard span {
    font-size: 14px; /* Increase font size for name */
  }
  
  .populairjobsHeroCard svg {
    font-size: 24px; /* Increase icon size */
  }

.hero-container h2{
    font-size: 50px;
}

.hero-container h2{
    content: "";
    display: inline-block;
    width: 100%;
}

.hero-container h2 span{
    color: white;
}


/* the link button */
.link-btn{
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 20px;
    color: white;
}

.link-btn > p {
    justify-self: center;
    align-self: center;
}

@media screen and (max-width: 768px){
    .hero-container{
        padding: 25px;
    }

    .hero-container h2{
        font-size: 36px;
    }

    .hero-container h4{
        font-size: 20px;
    }
}