{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      },
      "useBuiltIns": "entry",
      "modules": false, // Set to false to enable ESM
      "corejs": 3
    }],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ],
  "ignore": [
    "node_modules/(?!(react-icons|@aws-sdk|uuid)/)" // Allow transformation of specific dependencies
  ]
}
