.HowItsWorks{
    width: 100%;
    padding: 100px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HowItsWorks_con{
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.steps_img_con{
    width: 100%;
}

.steps_img_con img{
    width: 100%;
}